.image {
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.border {
    width: 1500px;
    height: 660px;
    border: 6px solid darkred;
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
}

.tab {
    top: 686px;
    position: absolute;
}

.box {
    max-width: 50px;
}