body {
    background-color: #9585ab;
    color: #413D35;
}

.form {
    display: flex;
    width: 452px;
    margin: 0;
    padding: 0;
    border: 5px solid #951615;
    margin-bottom: 5px;
    justify-content: space-evenly;

}

.out {
    width: 410px;
    margin: 0 0 5px 0;
    padding: 21px;
    border: 5px solid #951615;
}

#header-out {
    text-align: center;
}

#info-out {
    text-indent: 1.5em;
}