.container {
    position: absolute;
    margin: 0px;
    background-image: url("../images/img0.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
}

.background {
    width: 2000px;
    height: 2000px;
}

.text {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 0px;
    margin-top: -5px;
    text-align: center;
    pointer-events: none;
    font-size: 21px;
}

body {
    background-color: black;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

#block {
    top: 0;
    left: 0;
}